
.side {
  background-color: #222327;
  color: aliceblue;
  width: 58vh;

}.form-control {
  width: 50vh;
  border: 2px solid gray;
  background-color: transparent !important;
  color: white !important;
}
.form-control::placeholder {
    color: white;
    font-style: italic;
}
.btn1 {
  width: 25vh;
  margin-left: 12vh;
}
.wellcome {
  background-color: #222327;
  color: aliceblue;
}
.login input {

  width: 38vh;
  height: 40px;
  color: white;
  border: 2px solid gray;
  background-color: transparent !important;
}

.login input::placeholder {
  color: white;
  font-style: italic;
}

.login {
  width: 75vh;
  position: relative;
  left: 0vh;
  width: 52vh;
  background-color: #222327;
  color: aliceblue;
}
.data{
  background-color: rgba(116, 112, 112, 0.9);
  width: 60vh;
  color: aliceblue;
  height: auto;
}




@media (max-width: 576px) {
  .data{
    background-color: rgba(116, 112, 112, 0.9);
    width: 40vh;
    color: aliceblue;
    height: auto;
  }
  
  .login input {
    width: 32vh;
}

.login {
    width: 43vh;
    position: static;
    left: 0;
}

  .side input {
      width: 35vh;
  }

  .side {
      width: 41vh;
  }

  .btn1 {
      width: 25vh;
      margin-left: 5vh;
  }

}
